*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
main{
    margin-top: 50px;
    width: 50vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.campos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.picture_input{
    display: none;
}
.picture{
    background-color: #ccc;
    width: 50vw;
    aspect-ratio: 16/9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed currentColor;
    cursor: pointer;
    transition: color 200ms ease-in-out;
}

.picture-img{
    max-width: 100%;
}
.picture:hover{
    background: #ccc;
    color: #777;
}

.picture:active{
    background: #ccc;
    color: #777;
}


input{
    width: 50vw;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}
button{
    width: 50vw !important;
}

textarea{
    width: 50vw;
    height: 50px;
    margin: 1% 0 2% 0;
    padding: 20px;
    font-weight: normal;
    font-size: 1.2rem;
    border: 1.5px solid #1AA6B7;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: hidden;
    color: #000000;
}


.content{
    width: 50vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 2;
}

@media screen and (max-width: 650px) {


    .main{
        width: 100vw;
    }
    .content{
        width: 90vw;
    }
    .campos{
        width: 100vw;
    }
    .picture-img{
        width: 200px;
    }
    input, textarea{
    width: 90vw;
    }
    button{
        width: 90vw !important;
    }
 
}